.skills {
  padding: 4rem 2rem;
  text-align: center;
}

.skills-container {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.skills.dark .skills-container {
  background-color: rgba(47, 43, 64, 0.2); /* dark-background with alpha */
  border: 1px solid rgba(231, 231, 242, 0.2); /* dark-text with alpha */
}

.skills h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: var(--primary-color); /* Rock-inspired color for contrast */
  text-align: center;
}

.skills.dark h2 {
  color: var(--dark-text);
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.skill-logo-wrapper {
  position: relative;
  font-size: 4rem;
  color: var(--accent-color);
  transition: transform 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.skills.dark .skill-logo-wrapper {
  color: var(--dark-text);
}

.skill-logo-wrapper:hover {
  transform: scale(1.2);
  color: var(--primary-color);
}

.skills.dark .skill-logo-wrapper:hover {
  color: var(--accent-color);
}

.skill-logo-wrapper::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 10;
}

.skill-logo-wrapper:hover::after {
  opacity: 1;
  visibility: visible;
}

.skills.dark {
  background-color: var(--dark-background);
}

.skills.dark .skill-content {
  background-color: var(--dark-card-bg);
  color: var(--dark-text);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.skills.dark .skill-content h3 {
  color: var(--accent-color);
}

.skills.dark .skill-category {
  color: var(--dark-text);
  opacity: 0.8;
}

.skills.dark .skill-level {
  background: var(--primary-color);
  color: var(--dark-text);
}

/* .skills.dark .skill-card {
  background-color: var(--dark-card-bg);
} */
